# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env/

# Data
data/
*.csv
*.parquet
*.npz
*.pth

# Large Model Weights & External Src
fincast_model/
fincast_src/

# IDE
.vscode/
.idea/
